# NOTICE: Connect once per SSH to the the Server, to be sure the connection is working and Docker is running on the Machine!

# IP and Server name where to start the Docker Containers
# Set this 2 settings from the previous run Instances setup.
# You will get these as output of a successful run
server_ip                           = "127.0.0.1"
server_dns                          = "edu.example.com"

### Important - Please Read carefully when gitlab Runner is needed
## Register Runner 
## !!!!! Startup gitlab with both of this Settings set to 0 !!!!!
## Then set runner ONCE to <1> to register it with Gitlab - this rewrites the config file !!!!
## After ONCE! running the register; Set register to <0> and set runner to <1> after each step run "tf apply"
## What will happen: 
# 1. Gitlab is startet (No Runners) - this will take some time!
# 2. Gitlab accepts connections, now we register the runner with the gitlab Runner register command.
# 3. The Register is done and the runner container will be stopped, now we run this container with a different startup command again.
gl_runner_register                  = 0
gl_runner_count                     = 0
gl_runner_token                     = "secrettoken"


# Cloudflare for subdomains
cloudflare_email                    = "mail@example.com"
cloudflare_api_key                  = "CF_API_KEY"
cloudflare_zone_id                  = "CF_ZONE_ID"



### There is a small API that will be run from the Corewire Registry for "teaching" purposes.
### disable them in commenting out the ressource you dont want.
### Also there is a "production" and a "staging" set of this API, as we want to describe some differences there.