# Set a gitlab Access token with full rights of a Admin
gitlab_token        = "TOKEN_FROM_WEB"
base_url            = "https://git.edu.example.de/"

user_count          = 15
user_pass           = "secret_pass"

# If you have your own Docker Registry, set this to the Password
# We will set this up as a "non secret" ENV_VAR in Gitlab usable as "REG_PASS"
# in Gitlab CI, for docker pushes or pulls with Logins...
registry_password   = ""
