# Hetzner-Token
hcloud_token                        = "YOUR_HETZNER_TOKEN"

# Set here, how many machines should be startet by Terraform.
# a Gitlab Machine will automatically be startet always. To destroy use: "terraform destroy"
# SSH keys can be set from Hetzner Cloud Backend, we use our Mail Adresses.
# Server Types are Pre-set in Main.tf file - if you want to change them feel free.
base_instances_count                = 0
vscode_instances_count              = 0
ssh_keys                            = [
    "mail@example.com",
    "mail2@example.com",
]

# these are the entries in your zone from cloudflare
# Example: (Zone ID is example.com, "X" for the number)
# Gitlab server would be: "edu.example.com"
# Linux machines would be: "linux-X.edu.example.com"
# VS-Code Machines would be: "code-X.edu.example.com"

### Traefik ACME Setup/VS-Code additional changes
# Set the Mail Adress to a valid Mail Adress in file: "./conf/traefik/traefik.toml"

# Maybe setup another Image for VS-Code, as we use our own Image (you can use that too), but maybe you dont want that.
# file is here: "./conf/vscode/docker-compose.yml"

client-base-subdomain_prefix        = "linux"
client-vscode-subdomain_prefix      = "code"
serversubdomain                     = "edu"

# Use the same Login in Git, so the git push/pull will automatically work
instance_pass                       = "supersecretpassfortheinstances"
instances_domain                    = "example.com"

# Cloudflare
# Fill in your Cloudflare Credentials, Zone ID and Api Key - get them from Cloudflare.com
cloudflare_email                    = "mail@example.com"
cloudflare_api_key                  = "CF_API_KEY"
cloudflare_zone_id                  = "CF_ZONE_ID"

# For easier Use, take the same pass as the instance root pass
vscode_pass                         = "supersecretpassforvscode"

# Gitlab Settings
# Set the root Login and the Join Token for the Gitlab Runners
gitlab_root_pass                    = "oncemoreasecretpass"
gitlab_runner_token                 = "secrettoken"
